body{
    margin: auto;
    height: 768px;
    text-align: center;
    padding-top: 150px;
    background-color: #FFFFFF;
}
.add_buckets{
    background-color: #4942420c;
    margin-top: -150px;
    height: 768px; 
    padding-top: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   align-items: center;
   position: relative;

}
@keyframes rotation{
  10%{fill:#FFC312; }
  20%{fill:#C4E538;}
  30%{fill:#12CBC4;}
  40%{fill:#FDA7DF;}
  50%{fill:#ED4C67;}
  60%{fill:#F79F1F;}
  70%{fill:#A3CB38;}
  80%{fill:#D980FA;}
  90%{fill:#EA2027;}
  100%{fill:#1B1464;}
  }

.add_buckets svg {
    width: 75px;
    height: 150px;
    fill: #00000034;
   
  
}
.add_buckets .svg{
    animation: rotation 5s linear infinite;
}
.add_buckets h2 {
    font-size: 3rem;
    color:#00000034 ;
    
}
.add_buckets button {
    text-align: center;
    color: #00000034;
    border: none;
    background-color: initial;
    cursor: pointer;
   
}

.box_buckets{
    display: grid;
    grid-template-columns: repeat(2,auto) ;
    justify-content: space-around;
}
.buckets{
    width: 330px;
    height: 600px;
    margin:-130px 15px 0 15px;
    display: none;
}
table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titel{
   width: 330px;
   height: 30px;
   background-color: #00000093; 
   border-top-left-radius: 68px;
   border-top-right-radius: 68px;
   box-shadow: 1px 1px 3px  #0000003b;
   line-height: 30px;
}
tbody tr {
    display:flex;
    flex-direction: column;
}
.tasks{
    width: 326px;
    height: 30px;
    background-color: #47464677;
    margin-bottom: 2px;
    line-height: 30px;
    box-shadow: 1px 1px 3px  #0000003b;
}
.end_buckets{
    width: 326px;
    height: 30px;
    background-color: #00000093; 
    border-bottom-left-radius: 68px;
    border-bottom-right-radius: 68px;
    box-shadow: 1px 1px 3px  #0000003b;
    margin-left: 2px;
}
h1{
    font-size: 4rem;
    background-color: transparent;
    color: #FFFFFF;
    filter: drop-shadow(5px 5px 25px #000000 );
    
}
h1:hover {
    color: #000000;
    filter: drop-shadow(5px 5px 25px #000000 );
}
.input{
    background-color: #FFFFFF;
    padding-left: 15px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 8px;
    border:1px solid #00000024;
    color: #000000;
    font-weight: 500;
    box-shadow: 1px 2px 8px  #00000073;
    outline: none;
    -webkit-text-fill-color: #000000;
}
.input_email{
    margin-top: 60px;
    width: 350PX;
}
.name_and_lastname{
    background-color: transparent;
    justify-content: space-between;
    margin-top: 15px;
}
.name{
    width: 173PX;
}
.password{
    background-color: transparent;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.input_password{
    width: 350px;
}
.password2{
    margin-top:15px;
    
}
#button_next{
    margin-top: 25px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    box-shadow: 1.5px 2px 8px  #00000073;
    border:1px solid #00000024;
    background-color: #FFFFFF;
    cursor: pointer;
}
#button_next:hover{
    background-color:#7a7070b0;
    color: #FFFFFF;
}

#go_login{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
#go_login p{
    font-size: 1.2rem;
    font-weight: 500;
}
#go_login a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 8px;
    color: #000000;
}
#go_login a:hover{
    color: #0000FF;
    filter: drop-shadow(5px 5px 15px #000000);
}
#sign_in {
    display: none;
}